<!--
  Favicons
-->

{{- $baseurl := $.Site.BaseURL -}}

<link rel="shortcut icon" href="{{ $baseurl }}favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ $baseurl }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $baseurl }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $baseurl }}favicon-16x16.png">
<link rel="manifest" href="{{ $baseurl }}site.webmanifest">

<!--
  SEO description tags
-->

{{- $description := cond .IsHome $.Site.Params.description .Description -}}

{{- if $description -}}
  <meta name="description" content="{{ $description }}" />
  <meta itemprop="description" content="{{ $description }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta name="twitter:description" content="{{ $description }}" />
{{- end -}}