{{- if .IsHome -}}
  <meta name="google-site-verification" content="ST626f9XJO3vgJztJ6CLioN8u8H2STGoqB3CVpJ4_hU" />
{{- end -}}

<!--
  SEO description tags
-->

{{- $description := cond .IsHome $.Site.Params.description .Description -}}

{{- if $description -}}
  <meta name="description" content="{{ $description }}" />
  <meta itemprop="description" content="{{ $description }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta name="twitter:description" content="{{ $description }}" />
{{- end -}}